# Database
DATABASE_URL="postgresql://user:password@host:5432/dbname"

# NextAuth
AUTH_SECRET=""
NEXTAUTH_URL="https://your-domain.vercel.app"

# GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Instagram (Basic Display API)
INSTAGRAM_CLIENT_ID=""
INSTAGRAM_CLIENT_SECRET=""

# Naver OAuth
NAVER_CLIENT_ID=""
NAVER_CLIENT_SECRET=""

# Kakao OAuth
KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""
